/* feliz huevos inc */

@font-face {
  font-family: 'MrsEavesBoldItalicRegular';
  src: url('font/mrseavbolita-080413005EmigreWebOnly.eot');
  src: url('font/mrseavbolita-080413005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
  url('font/mrseavbolita-080413005EmigreWebOnly.woff') format('woff');
}
@font-face {
  font-family: 'mrseavesbolditaliclining';
  src: url('font/mrseavesbolditaliclining-080413005EmigreWebOnly.eot');
  src: url('font/mrseavesbolditaliclining-080413005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
  url('font/mrseavesbolditaliclining-080413005EmigreWebOnly.woff') format('woff');
}
@font-face {
  font-family: 'ITCAVANTGARDEGOTHICLTMEDIUM';
  src: url('http://fontsforweb.com/public/fonts/7916/ITCAVANTGARDEGOTHICLTMEDIUM.eot');
  src: local('ITCAVANTGARDEGOTHICLTMEDIUM'), url('http://fontsforweb.com/public/fonts/7916/ITCAVANTGARDEGOTHICLTMEDIUM.ttf') format('truetype');
}

html {
  background: url('img/codpiece-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: ITCAVANTGARDEGOTHICLTMEDIUM, sans-serif;

  /* sticky footer */
  position: relative;
  min-height: 100%;

  /* IE Fix */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
          src='images/logo.gif',
          sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='images/logo.gif',
          sizingMethod='scale')";
background: no-repeat center center fixed\0/;

}
body {

  /* sticky footer */
  margin: 0 0 100px; /* bottom = footer height + bottom margin */

}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;

  background: #fff;
  font-family: MrsEavesBoldItalicRegular;
  font-style: italic;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.7em;

  /* Clearfix */
  overflow: hidden;
  display: inline-block; /* IE */
  display: block;
}

.menu {
  position: relative;
  float: left;
  padding: 0;
  left: 25px;
  top: 5px;
  list-style-type: none;
}

.menu li {
  float: left;
  list-style-type: none;
  margin: 0 5px;
}

.menu li a,
.menu li a:link,
.menu li a:active,
.menu li a:visited {
  color: #000;
  text-decoration: none;
}
.menu li a:hover {
  color: #4d4d4d;
}

div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: #000;
  color: #fff;
  padding: 14px 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #bdbdbd;
}
.content { max-width: 1280px; margin: 0 auto; padding: 0 20px;}
.column { max-width: 400px; }
.column:first-child {
  margin-top: 150px;
}
.column .inner { padding: 10px 20px; background: rgba(100,100,100,0.5); }
.column .inner.wide { max-width: 600px; width: 600px; }

.white-column {
  background: #fff;
  padding: 10px 20px;
  width: 360px;
  margin-bottom: 25px;
}
.white-column h3, .white-column p {
  color: #000;
}

.share {margin-top: 25px;}
.share img {
  vertical-align:middle;
  margin-left: 12px;
}

.main.content {
  color: #fff;
  position: relative;
}
h1 {
  font-family: MrsEavesBoldItalicRegular, serif;
  font-weight: 200;
  font-size: 2.3em;
  margin: 20px 0 8px;
}
p {
  margin: 0 0 25px;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.codpiece {
  text-decoration:none;
  color:#000;
  position: relative;
  display: block;
  float: left;
  top: 15px;
  width: 175px;
}
a img { border: 0; }

.logo { width: 100%; }
.fl { float: left; }
.fr { float: right; }

.fb-like.fb_edge_widget_with_comment.fb_iframe_widget span iframe {
  bottom:0!important;
}

.video { width: 500px; height: 281px; }

.codpiece-grid ul {
  padding: 0;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  overflow: hidden;

}
.codpiece-grid li {
  display: block;
  float: left;
  width: 175px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, .75);
  color: #000;
  text-align: center;
  margin: 10px 10px 10px 0;
  padding: 10px;
  font-size: 16px;

}

.codpiece-grid h2,
.codpiece-grid h3 {
  clear: both;
}


#fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.legend {
  width: 20em;
  border: 1px solid #4d4d4d;
  background: rgba(255,255,255,0.2);
}

.legend .title {
  color: #000;
  display: block;
  margin: 0.5em;
  border-style: solid;
  border-width: 0 0 0 1em;
  padding: 0 0.3em;
}


@media only screen and (min-height: 1000px) {
}

@media only screen and (max-height: 735px) {
  .video { width: 360px; height: 202px; }
}

@media only screen and (max-width: 530px) {
  .share img { display: none; }
  .main { font-size: 0.9em; text-shadow: 2px 2px 2px #000; }
  .footer .fb-like.fb_edge_widget_with_comment.fb_iframe_widget { display: none; }
  .header { text-align: center; padding: 10px 0 5px; }
  .header .fl, .header .fr { float: none; }
  .share { margin: 0; position: relative; top: -7px;}
  .video { width: 360px; height: 202px; }
}

@media only screen and (max-width: 400px) {

  .video { width: 200px; height: 112px; }
  h1 { margin-top: 50px; }

  .column:first-child {
    margin-top: 50px;
  }
  .header {
    height: auto;
    position: static;
  }
  .codpiece {
    float: none;
    margin: 0 auto;
    width: 275px;
  }

  .logo {
    margin-bottom: 15px;
  }

  .menu, .menu li {
    float: none;
    position: static;
    display: block;
    padding: 0;
    margin: 0;
  }


  .share {
    position: static;
    display: block;
  }


  .codpiece-grid li {
    text-shadow: none;
  }


}
